player-connection-mode=Connect
player-connection-guid=400669210
player-connection-debug=0
player-connection-project-name=Brokencraft
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.132
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=14d7c67f61c5448abf4821c089693983
